<div class="user-page">
    <div class="nav">
        <div class="logo">
            Entregou
        </div>
        <div class="nav-links">
            <a ><mat-icon>notifications</mat-icon></a>
            <a ><mat-icon>person</mat-icon></a>
            <a ><mat-icon>settings</mat-icon></a>
            <a ><mat-icon>logout</mat-icon></a>
        </div>
    </div>

    <div class="user-content">
        <div class="content">
            <div class="adicionar-content">
                <app-adicionar-pacote></app-adicionar-pacote>
            </div>
            <div class="listar-content">
                <app-listar-pacote></app-listar-pacote>
                <app-pacote-dia></app-pacote-dia>
            </div>
        </div>
    </div>
</div>