<div class="adicionar-pacote-form">
    <div class="header">
        <h1>Adicionar Pacote <mat-icon>add</mat-icon></h1>
        <p>Preencha os detalhes do pacote para adicionar uma nova entrega.</p>
    </div>
    <form class="form">
        <div class="form-field">
            <div class="form-field-label">
                <mat-icon>inventory_2</mat-icon>
                <label>Nome do Pacote</label>
            </div>
            <input type="text" placeholder="Digite o nome do pacote">
        </div>
        <div class="form-box">
            <div class="form-field">
                <div class="form-field-label">
                    <mat-icon>location_on</mat-icon>
                    <label>CEP</label>
                </div>
                <input type="text" placeholder="Digite o CEP">
            </div>
            <div class="form-field">
                <div class="form-field-label">
                    <mat-icon>fitness_center</mat-icon>
                    <label>Peso do pacote</label>
                </div>
                <input type="text" placeholder="Digite o peso do pacote">
            </div>
        </div>
        <div class="form-box">
            <div class="form-field">
                <div class="form-field-label">
                    <mat-icon>south_america</mat-icon>
                    <label>Estado</label>
                </div>
                <input type="text" placeholder="Digite o estado">
            </div>
            <div class="form-field">
                <div class="form-field-label">
                    <mat-icon>location_city</mat-icon>
                    <label>Cidade</label>
                </div>
                <input type="text" placeholder="Digite a cidade">
            </div>
        </div>
        <div class="form-field">
            <div class="form-field-label">
                <mat-icon>home_work</mat-icon>
                <label>Endereço de Entrega</label>
            </div>
            <input type="text" placeholder="Digite o endereço de entrega">
        </div>
        <div class="form-box">
            <div class="form-field">
                <div class="form-field-label">
                    <mat-icon>calendar_today</mat-icon>
                    <label>Data de Entrega</label>
                </div>
                <input type="date" placeholder="Selecione a data de entrega">
            </div>
            <div class="form-field">
                <div class="form-field-label">
                    <mat-icon>access_time</mat-icon>
                    <label>Hora de Entrega</label>
                </div>
                <input type="time" placeholder="Selecione a hora de entrega">
            </div>

        </div>
        <div class="form-field">
            <div class="form-field-label">
                <mat-icon>description</mat-icon>
                <label>Descrição</label>
            </div>
            <textarea placeholder="Digite a descrição do pacote"></textarea>
        </div>
        <button type="submit">
            <mat-icon>add</mat-icon>
            Adicionar Pacote
        </button>
    </form>

</div>